<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.motelmgmtapp">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:windowSoftInputMode=["stateUnspecified",
            "stateUnchanged", "stateHidden",
            "stateAlwaysHidden", "stateVisible",
            "stateAlwaysVisible", "adjustUnspecified",
            "adjustResize", "adjustPan"]
        </activity>
        <activity
            android:name=".StayDetails"
            android:label="@string/title_activity_stay_details"
            android:parentActivityName=".GuestDetails"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.GuestDetails" />
            android:windowSoftInputMode=["stateUnspecified",
            "stateUnchanged", "stateHidden",
            "stateAlwaysHidden", "stateVisible",
            "stateAlwaysVisible", "adjustUnspecified",
            "adjustResize", "adjustPan"]
        </activity>
        <activity
            android:name=".Charges"
            android:label="@string/title_activity_charges"
            android:parentActivityName=".StayDetails"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.StayDetails" />
        </activity>
        <activity
            android:name=".GuestDetails"
            android:label="@string/title_activity_guest_details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.MainActivity" />
            android:windowSoftInputMode=["stateUnspecified",
            "stateUnchanged", "stateHidden",
            "stateAlwaysHidden", "stateVisible",
            "stateAlwaysVisible", "adjustUnspecified",
            "adjustResize", "adjustPan"]
        </activity>
        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".Charges"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.Charges" />
        </activity>
        <activity
            android:name=".AvailableRooms"
            android:label="@string/title_activity_available_rooms"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.MainActivity" />
        </activity>
        <activity
            android:name=".Occupied"
            android:label="@string/title_activity_occupied"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.MainActivity" />
        </activity>
        <activity
            android:name=".Checkout"
            android:label="@string/title_activity_checkout"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.MainActivity" />
        </activity>
        <activity
            android:name=".DirtyRooms"
            android:label="@string/title_activity_dirty_rooms"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.motelmgmtapp.MainActivity" />
        </activity>
    </application>

</manifest>